// Logo
@font-face {
  font-family: 'Permanent Marker';
  src: url('/fonts/Permanent_Marker/PermanentMarker-Regular.ttf') format('truetype');
}

$permanent-marker: 'Permanent Marker', cursive;

.permanent-marker {
  font-family: $permanent-marker;
  font-weight: 900;
}